*{
    margin: 0;padding: 0;
}
h1{
    padding: 1%;
    color: white;
    background-color: #006eff;
    border-radius: 16px;
    margin: 2.5% 0%;


   }
h2{
    padding: 1%;
    color: white;
    background-color: #69aaff;
    width: 80%;
    border-radius: 16px;
    margin: 2% 0%;

   }
ul li{
    padding: 1%;
    color: white;
    background-color: #ddecff;
    width: 60%;
    border-radius: 0px 16px 16px 0px;
    margin: 1% 0%;
}

a{
    text-decoration: none;
    color: black;
}